<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1 rounded-sm">
    <a class="navbar-brand" href="/homepage">CitySafe-Urban Disaster Response App</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/requesthelp">Request Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sendhelp">Send Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>