<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>CitySafe</h1>
      <h1>Urban Disaster Response App</h1>
      <p>This app is developed by our team for our Capstone Project.</p>
      <p>Thank you for your unwavering support.</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3 class="mb-3 mt-3">Team Members:</h3>
      <ul>
        <li><p>Jayrold Tabalina</p></li>
        <li><p>Yasmine Talaman</p></li>
        <li><p>Mark Vincent Jabao</p></li>
      </ul>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>